/* Estilos para a página inicial */
#welcome-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('planodefundo.jpg') no-repeat center center/cover;
}

#welcome-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 46, 46, 0.6); /* Plano de fundo com opacidade */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-page .container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Container com opacidade */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-page h1, #welcome-page p {
    color: var(--text-color);
}

#welcome-page button {
    width: auto;
    padding: 10px 20px;
    margin-top: auto; /* Empurra o botão para a parte inferior */
    margin-bottom: 40px; /* Espaço abaixo do botão */
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
}

#welcome-page button:hover {
    background-color: var(--button-hover-bg-color);
}

/* Estilos para o modal de histórico e notas */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--container-bg-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close-button, .close-notes-button {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus,
.close-notes-button:hover,
.close-notes-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.history-item, .note-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.history-item span, .note-item span {
    margin-bottom: 5px;
}

.history-item button, .note-item button {
    align-self: flex-end;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.history-item button:hover, .note-item button:hover {
    background-color: darkred;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#add-note-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-note-button:hover {
    background-color: var(--button-hover-bg-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: #f0f0f0;
    --text-color: #000;
    --nav-bg-color: #f1f1f1;
    --nav-text-color: #000;
    --button-bg-color: #007BFF;
    --button-text-color: #fff;
    --button-hover-bg-color: #0056b3;
    --container-bg-color: #ffffff;
}

.dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
    --nav-bg-color: #1e1e1e;
    --nav-text-color: #ffffff;
    --button-bg-color: #1e88e5;
    --button-text-color: #ffffff;
    --button-hover-bg-color: #1565c0;
    --container-bg-color: #2c2c2c;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: var(--container-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding-top: 80px; /* Espaço para a barra de navegação fixa */
    overflow-y: auto; /* Garantir que o conteúdo interno seja rolável se necessário */
    height: calc(100vh - 40px); /* Ajuste de altura para se adaptar à tela */
}

.input-container {
    margin-bottom: 20px;
}

.input-container h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: var(--container-bg-color); /* Ajustar a cor de fundo dos inputs */
    color: var(--text-color); /* Ajustar a cor do texto dos inputs */
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

.result-container {
    margin-top: 20px;
}

.result-container h2 {
    margin-top: 0;
}

#resultados {
    background-color: var(--container-bg-color); /* Ajustar a cor de fundo dos resultados */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

/* Estilos para a barra de navegação */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 90%;
    max-width: 800px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 1000;
}

.nav button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.nav button:hover {
    background-color: var(--button-hover-bg-color);
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: var(--nav-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--button-hover-bg-color);
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        padding-top: 80px; /* Espaço para a barra de navegação fixa */
        height: calc(100vh - 20px); /* Ajuste de altura para se adaptar à tela */
    }
    
    input, select, button {
        padding: 8px;
        font-size: 14px;
    }
    
    .nav {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }
    
    .dropdown-content {
        min-width: 120px;
    }
}
button.back-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px;
    margin-top: 20px; /* Espaço acima do botão */
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Para ocupar toda a largura do contêiner */
}

button.back-button:hover {
    background-color: var(--button-hover-bg-color);
}

/* Estilos para os itens de perfil */
.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.profile-item span {
    font-size: 16px;
}

.profile-item button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.profile-item button:hover {
    background-color: darkred;
}

#addNewProfile-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#addNewProfile-button:hover {
    background-color: var(--button-hover-bg-color);
}
